

<div class="row">
   <div class="col-md-4">
      <%=image_tag @book.book_img.url(:book_show), class: "book_show"%>
   </div>
   <div class="col-md-8 content">
      
      <h2><strong><%= @book.title %></strong></h2>
      <h4><%= @book.description %></h4>
      <div class="col-md-offset-8"><h4><strong>Directed by: <%= @book.author %></strong></h4></div>
      <h4><strong>Avarage rating: </strong></h4>
      <div class="average-review-rating" data-score=<%=@average_review%>></div>
      <span>Based on <%=@book.reviews.count%> reviews</span>
      <div class="col-md-offset-10"><% if user_signed_in? %>
         <%if @book.user_id == current_user.id%>
         <%= link_to "Edit", edit_book_path(@book), class: "btn btn-info" %>
         <%= link_to "Delete", book_path(@book), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
         <% end %>
         <% end %>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-4">
      <% if user_signed_in? %>
      <%if @book.user_id == current_user.id%>
      <%= link_to "Add new review", new_book_review_path(@book), class: "btn btn-success"%>
      <%end%>
      <%end%>
      <%= render @book.reviews %>
   </div>
</div>
<script>
   $('.review-rating').raty({
     path: '/assets/',
     readOnly: true,
     score: function() {
           return $(this).attr('data-score');
   }
   });
</script>
<script>
   $('.average-review-rating').raty({
     path: '/assets/',
     readOnly: true,
     score: function() {
           return $(this).attr('data-score');
   }
   });
</script>

