<!DOCTYPE html>
<html>
  <head>
    <title>Movie Review</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
  <div class="container">
  <div class="navbar-header">
  <%= link_to "Movie Review", root_path, class: "navbar-brand"%>
  </div>

  <ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
  	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expaned="false">Categories<span class="caret"></span></a>
  	<ul class="dropdown-menu" role="menu">
  	<% Category.all.each do |cat|%>
  		<li class="<%= "active" if params[:category]==cat.name %>">
  			<%= link_to cat.name, books_path(category: cat.name)%>
  		</li>
  		<%end%>
  	</ul>
  </li>
  <% if user_signed_in? %>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete%></li>
    <%else%>
     <li><%= link_to "Sign up", new_user_registration_path%></li>

    <li><%= link_to "Log in", new_user_session_path%></li>
    <%end%>
  </ul>

  <ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <li><%= link_to "Add movie", new_book_path%></li>
    
    <%end%>
  </ul>

  </div>
  </nav>
  <div class="container">
  <% if !flash[:notice].blank?%>
  <div class="flash">
  <h4><strong><%= flash[:notice]%></strong></h4>
  </div>
  <%end%>
    <%= yield %>
    </div>
    <%= render('layouts/footer')%>
  </body>
</html>
